body {
    margin: .5rem 10rem;
}

.btn-head {
    text-align: center;
    width: 50%;
    background-color: #ECEFF1;
    padding: 1.3rem 0;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgb(151, 147, 147);
    margin-right: -1px;
    margin-bottom: 1rem;
}

.btn-head:active {
    background: rgb(181, 181, 214);
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid > article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid > article h1 {
    display: none;
}

.list > article {
    display: flex;
  	align-items: center;
    margin-bottom: .5rem;
}

.list > article img {
    width: 13%;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.list > article h1 {
    font-weight: normal;
}